@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: Droid Serif, serif, Lobster, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  line-height: 2.5;
  font-size: 25px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Catamaran;
  font-weight: 400;
  text-rendering: optimizelegibility;
}

/* @media only screen and (min-width: 600px) {
  body {
    line-height: 1.6;
    font-size: 14px;
  }
} */
